body
{
    justify-content: center;
  padding: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1{
    padding: 30px;
    font-weight: bold;
    font-size: 25px;
    justify-content: center;
}
h2{
    justify-content: center;

}
p{
  font-size: 20px;
}
#suggestions {
    border: 1px dotted #ccc;
    padding: 3px;
  }
  #suggestions option {
    padding: 5px 0;
  }
  #suggestions option:hover {
    background: #eee;
  }
.commune{
    color: black;
    background-color: #83bace;
}
.departement{
    color: black;
    background-color: #83b3ce;
}
.region{
    color: black;
    background-color: rgb(109, 165, 195);
}
