body {
    display: flex;
}

.class1 {
    font-size: x-large;
    font-weight: bold;
}

.class2 {
    font-size: 10ch;
    font-weight: 300;
}

.class3 {
    font-size: 20ch;
    font-weight: bolder
}

.class4 {
    font-size: 8ch;
    font-weight: bold;
}

.class5 {
    font-size: 10ch;
    font-weight: lighter;
}

.class6 {
    font-size: 15ch;
    font-weight: 400;
}
.spaceclass{
    height: 10px;
    width: 500px;
}